<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Image Super Res</title>
	  <link rel="stylesheet" href='static/css/style.css'>


</head>
<body>

  <h1><span>Image resolution increased !</span></h1>
  <figure style="margin-top:45px; margin-bottom:45px">
    <img src="{{uploaded_path}}", STYLE="TOP:630px; LEFT:160px; WIDTH:512px; HEIGHT:512px"/>
    <figcaption><span style="color:black; margin-bottom:45px">Before</span></figcaption>
  </figure>

  <figure>
    <img src="{{computed_path}}", STYLE="TOP:160px; LEFT:87px; WIDTH:512px; HEIGHT:512px"/>
    <figcaption><span style="color:black">After</span></figcaption>
  </figure>

  <div id = b , style="margin-top:45px; margin-bottom:45px">
    <a href="{{computed_path}}", download>Download</a>
  </div>

  <div id = b , style="margin-bottom:45px">
    <a href="/">Back to home</a>
  </div>
  
</body>
</html>
